<header>
    <nav>
        <div class="say-header say-header--main">
            <ul class="say-list">
                <li class="say-list-item say-list-item--logo"><a routerLink="/"> <img class="hom" src="../assets/images/main-logo.png" alt="logo - home" /><img class="som" src="../assets/images/say-logo-banner.png"/> </a></li>
                <li class="say-list-item say-list-item--right"> <a routerLink="/dashboard">my dash</a> </li>
                <li class="say-list-item"> <a routerLink="/dashboard">sign in</a> </li>
            </ul>
        </div>
        <div class="say-header say-header--complex">
            <ul class="say-list">
                <li class="say-list-item"><a routerLink="/heroes">my heroes</a></li>
                <li class="say-list-item"> <a routerLink="/dashboard">my dash</a> </li>
                <li class="say-list-item"> <a routerLink="/dashboard">my link</a> </li>
                <li class="say-list-item"> <a routerLink="/dashboard">another link</a> </li>
            </ul>
        </div>
        <div class="say-sub-header">
            <ul class="say-list">
                <li class="say-list-item"><a routerLink="/heroes">my heroes</a></li>
                <li class="say-list-item"> <a routerLink="/dashboard">my dash</a> </li>
                <li class="say-list-item"> <a routerLink="/dashboard">my link</a> </li>
                <li class="say-list-item"> <a routerLink="/dashboard">another link</a> </li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<app-messages></app-messages>
