<header>
    <nav>
        <div class="say-header say-header--main">
            <div class="say-list">
                <div class="say-list-item say-list-item--logo"><a routerLink="/"> <img src="../assets/images/logo.svg" alt="logo - home" /></a></div>
                <div class="say-list-item say-list-item--right"> <a routerLink="/dashboard" class="underline-link">sign in</a> </div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link">sign out</a> </div>
            </div>
        </div>
        <div class="say-header say-header--hidden">
            <div class="say-list">
                <div class="say-list-navigator left"><</div>
                <div class="say-list-item"><a routerLink="/heroes" class="underline-link"><span>my heroes</span></a></div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link"><span>my dash</span></a> </div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link"><span>my link</span></a> </div>
                <div class="say-list-navigator right">></div>
            </div>
        </div>
        <div class="say-header say-header--complex">
            <div class="say-list">
                <div class="say-list-navigator left"><</div>
                <div class="say-list-item"><a routerLink="/heroes" class="underline-link"><span>my heroes</span></a></div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link"><span>my dash</span></a> </div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link"><span>my link</span></a> </div>
                <div class="say-list-item"> <a routerLink="/dashboard" class="underline-link"><span>another link</span></a> </div>
                <div class="say-list-navigator right">></div>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<app-messages></app-messages>
